#myMenu.ui.menu .item.onRight {
  /* font-family: "Montserrat", sans-serifs; */
  color: rgb(165, 165, 165);
  padding-top: 2em;
  font-weight: 500;
}

.ui.huge.menu {
  background-color: rgba(192, 215, 207, 0.5);
  /* padding-top: 1.5em; */

  border: none;
  box-shadow: none;
  height: 4em;
}

#myMenu.ui.menu .item.bar {
  width: 4em;
}
