/*----skill bar----*/

.skills,
.skills .skill,
.skills .skill .skill-title,
.skills .skill .skill-bar {
    width: 100%;
    float: left;
}

.skills {
    padding: 15px;
}

.skills .skill {
    margin-bottom: 30px;
}

.skills .skill .skill-title {
    text-align: left;
    color: #808080;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
}

.skills .skill .skill-bar {
    width: 0;
    height: 6px;
    background: #f0f0f0;
    transition: 1s cubic-bezier(1, 0, .5, 1);
    -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
    -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills.active .skill .skill-bar {
    width: 100%;
}

.skills .skill .skill-bar span {
    float: left;
    width: 0%;
    background: rgba(0, 139, 255, 0.9);
    height: 6px;
    position: relative;
    transition: 1s cubic-bezier(1, 0, .5, 1);
    -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
    -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills .skill .skill-bar span b {
    float: left;
    width: 100%;
    position: relative;
    text-align: right;
    opacity: 0;
    font-size: 14px;
    color: rgba(0, 139, 255, 0.9);
    font-weight: 400;
    top: -13px;
}

.skill-container {
    width: 100%;
    max-width: 780px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 0px;
}
